.gradient-custom {
    /* fallback for old browsers */
    background: #2b0202;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(138, 20, 20), rgb(151, 54, 54));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(190, 2, 12), rgb(0, 0, 0))
    }